<div class="lead social-icons flexcontainer">
  {{#each data as |icon|}}
    <div class="icon">
      <a href="{{icon.url}}">
      <img
        src="/assets/social/{{icon.name}}.png"
        title="{{icon.description}}"
        alt="{{icon.name}}">
      {{icon.description}}
      </a>
    </div>
  {{/each}}
</div>
